<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ezen.bbs2.mapper.BoardMapper">
	<!-- 전체 게시글 수 -->
	<select id="totalCnt" resultType="Integer">
		SELECT count(*) FROM tbl_board
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insert" parameterType="kr.ezen.bbs2.domain.BoardDTO">
		INSERT INTO tbl_board(subject, contents, writer)
		VALUES(#{subject},#{contents},#{writer})
	</insert>
	
	<!-- 게시글 리스트 -->
	<select id="getList" resultType="boardDTO" >
		<!-- SELECT * FROM tbl_board LIMIT 0 , 10 -->
		SELECT * FROM tbl_board LIMIT #{startIndex} , #{cntPerPage}
	</select>
	
	<!-- 글 상세보기 -->
	<select id="view" parameterType="Integer" resultType="boardDTO" >
		SELECT * FROM tbl_board Where bid = #{bid}
	</select>
	
  	<!-- 글 수정하기 -->
  	<update id="update" parameterType="boardDTO">
  		UPDATE tbl_board SET subject=#{subject}, contents=#{contents} WHERE bid = #{bid}
  	</update>
  	
  	<!-- 글 삭제하기 -->
  	<delete id="delete" parameterType="Integer">
  		DELETE FROM tbl_board WHERE bid = #{bid}
  	</delete>
  	
  	<!-- 조회수 -->
  	<update id="hitAdd" parameterType="Integer">
  		UPDATE tbl_board SET hit = hit + 1 WHERE bid = #{bid}
  	</update>
  
  	
  
  
  
  
  
  
  
  
</mapper>